@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer components {
  .glass-card {
    @apply border border-white/5 bg-white/[0.02] backdrop-blur-xl transition-all hover:border-white/10;
  }
}
